.App {
  text-align: center;
}

.ButtonStyle {
  outline: none;
  background-color: wheat;
  font: 'Roboto Sans';
  border: 1px solid rgb(124, 111, 111);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}